/* footer shared css */

.footer {
    --footer-bg-color: #203EB5;
    --footer-text-color: var(--white-color);
}

.waves {
    position: relative;
    width: 100%;
    height: clamp(100px, 15vh, 150px);
    margin-top: 10px;
    margin-bottom: -7px;
}

.inner-footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 90px;
}

.footer-content {
    width: 100%;
    color: var(--footer-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content > div {
    min-height: clamp(70px, 8vh, 90px);
}

.footer-left h2 a {
    display: block;
    width: clamp(180px, 20vw, 240px);
    height: clamp(45px, 5vh, 57px);
    margin-bottom: clamp(5px, 1vw, 10px);
}

.footer-left h2 a img {
    width: 100%;
    object-fit: cover;
}

.footer-left p,
.footer-right a {
    font-family: 'Noto Sans KR';
    color: var(--footer-text-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.2;
}

.sns-list {
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    height: auto;
}

.sns a {
    display: block;
}

.sns {
    width: 55px;
    height: 55px;
    flex: 0 0 55px;
}

.sns img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 1280px) {
    .waves {
        height: clamp(80px, 10vh, 100px);
    }
    .sns {
        width: 45px;
        height: 45px;
        flex-basis: 45px;
    }

    .footer-left p,
    .footer-right a {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .inner-footer {
        padding-top: 48px;
        padding-bottom: 72px;
    }

    .footer-left h2 a {
        width: clamp(200px, 16vw, 250px);
        height: clamp(40px, 4.5vh, 48px);
    }

    .sns {
        width: 35px;
        height: 35px;
        flex-basis: 35px;
    }

    .footer-left p,
    .footer-right a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .waves {
        height: clamp(45px, 5vh, 60px);
    }

    .inner-footer {
        padding-top: 40px;
        padding-bottom: 52px;
    }

    .footer-left h2 a {
        width: clamp(160px, 15vw, 180px);
        height: clamp(35px, 4vh, 41px);
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(6px, 1vw, 8px);
    }

    .footer-content > div {
        min-height: auto;
    }
    .footer-left {
        width: 100%;
    }
    .footer-left h2 a,
    .footer-right a {
        display: block;
        margin-bottom: clamp(12px, 2vw, 18px);
    }

    .footer-right {
        width: 100%;
    }

    .sns-list {
        justify-content: flex-start;
        padding-top: clamp(6px, 1vw, 8px);
    }

    .sns {
        width: 25px;
        height: 25px;
        flex-basis: 25px;
    }

    .footer-left p,
    .footer-right a {
        font-size: 14px;
    }
}

@media (max-width: 402px) {
    .waves {
        height: clamp(35px, 3.7vh, 40px);
    }

    .inner-footer {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    .footer-left h2 a {
        width: clamp(140px, 15vw, 170px);
        height: clamp(30px, 4vh, 35px);
    }

    .sns {
        width: 22px;
        height: 22px;
        flex-basis: 22px;
    }

    .footer-left p,
    .footer-right a {
        font-size: 13px;
    }
}
